.Register {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.Registerblock{
    position: relative;
    width: 5em;
    display: inline-grid;
    margin-top: 0.75em;
    margin-right: 0.5em;
}

.Registerblock div {
    position: relative;
    font-size: 0.75em;
    text-align: center;
    color: rgb(97, 97, 97);
}

/* Register label has shorter line height */
.Registerblock div:first-child {
    position: relative;
    border: solid 1px rgb(35, 159, 106);
    border-radius: 3px;
    color: rgb(35, 159, 106);
}