.Console {
    position: relative;
    width: 100%;
    min-width: 23em;
    margin-top: 5em;
}

.ConsoleTitle {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.ConsoleTitle h2 {
    margin: 0;
    color: #555;
    padding: .5em;
    font-size: 1em;
    font-weight: normal;
}

.ConsoleBox {
    position: relative;
    margin-bottom: 3vh;
    border-radius: 5px;
}

.Console h3 {
    margin: 0;
    margin-left: 1.5em;
    padding-left: .75em;
    padding-right: .75em;
    padding-bottom: 3px;
    color: #888;
    font-size: 1em;
    font-weight: normal;
}

.ConsoleBox h3:first-child {
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ConsoleBox h3:last-child {
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ConsoleBox .Error {
    background: rgb(253, 222, 222);
    color: rgb(255, 45, 45);
}

.Console .Success {
    color: #555;
}

.ConsoleInstruction {
    position: relative;
    margin-left: 1.5em;
    color: #555;

}

.ConsoleInstruction span:first-child {
    position: relative;
    padding-left: .75em;
}

.ConsoleInstruction span {
    padding-left: .5em;
}