.Monitor {
    position: relative;
    min-width: 28em;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: white;
}

.DebugLabel {
    position: relative;
    margin-top: 2em;
}