.Home {
    position: relative;
    width: 95%;
    max-width: 80em;
    min-width: 50em;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
}