.Log {
    position: relative;
    width: 100%;
    min-width: 10em;
}

.Log h1 {
    margin-left: .25em;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 1em;
    color: #222;
}

.LogTitle {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.LogTitle h2 {
    margin: 0;
    color: #555;
    padding: .5em;
    font-size: 1em;
    font-weight: normal;
}

.LogBox {
    position: relative;
    margin-bottom: 3vh;
    border-radius: 5px;
}

.Log h3 {
    margin: 0;
    margin-left: 1.5em;
    padding-left: 1em;
    color: #888;
    font-size: 1em;
    font-weight: normal;
}

.LogBox h3:first-child {
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.LogBox h3:last-child {
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.LogBox .Error {
    background: rgb(253, 222, 222);
    color: rgb(255, 45, 45);
}

.LogBox .Success {
    color: #555;
}