.Rcontainer {
    position: relative;
    width: 95%;
    margin: auto;
}

.Rcontrol {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.Rcontrol button {
    background: white;
    font-size: 1.375em;
    padding: .5em;
    padding-right: .75em;
    padding-left: .75em;
    margin-left: 2px;
    outline: none;
}

.Rcontrol button:hover {
    background: #f5f5f5;
}

.Rcontrol button:active {
    background: #e0e0e0;
}

.unselected {
    border: none;
    color: #555;
}

.selected {
    border: none;
    box-shadow: 0 -2px 3px #aaa;
    color: rgb(15, 180, 111);
}