.Rblock{
    position: relative;
    min-width: 5em;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    border-radius: 1px;
    box-shadow: 0 2px 3px #ccc;
    margin-top: .75em;
    margin-right: .75em;
}

.Rblock div {
    position: relative;
    font-size: 1em;
    text-align: center;
    padding: .25em;
    color: #888;
}

.Rblock div:first-child {
    border-bottom: 1px solid #ccc;
    color: #202020
}